<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/indexnav.css"> {% block stylesheets %}{% endblock %}


    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto" styles="text-align: center !important;">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></button>

            <div class="collapse navbar-collapse" id="navbarColor02">


                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                        <li class="nav-item active">

                            <a class="nav-link" href="{{ path('accueil') }}">Accueil
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('conversation') }}">Conversation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('groupe') }}">Groupe</a>
                        </li>


                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile') }}">

                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('deconnexion') }}">
                                <i class="fa fa-power-off fa-2x"></i>
                            </a>

                        </li>
                    </ul>
                </li>
            </div>
        </nav>

        <figure class="navbar-nav mr-auto">

            <a class="navbar-brand" style="color: white;" href="{{ path('accueil') }}">
                <i class="fa fa-comments-o fa-2x"></i>


                Messenger&CO</a>
        </figure>

        <!--Parallax-->


        <div
            class="parallax-element" id="Accueil" data-parallax="scroll" data-image-src="images/mi1.png" alt="" id="">{# {% if app.user  %}
                                                                                                                                                                                                            
                                                                                                                                                                                                                                    <div class="card-body conversation">
                                                                                                                                                                                                                                        <div class="description">
                                                                                                                                                                                                                                            <h1>Bienvenue
                                                                                                                                                                                                                                                {{users.username}}
                                                                                                                                                                                                                                                et profite des fonctionnalités de l'application</h1>
                                                                                                                                                                                                            
                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                {% else %}
                                                                                                                                                                                                                                    <div class="card-body conversation">
                                                                                                                                                                                                                                        <div class="description">
                                                                                                                                                                                                                                            <h1>Bon retour à toi,
                                                                                                                                                                                                                                                {{users.username}}. Ca fait plaisir de te revoir.</h1>
                                                                                                                                                                                                            
                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                {% endif %} #}

        </div>


        <div class="parallax-element" id="Accueil" data-parallax="scroll" data-image-src="images/mi2.png" alt="" id="">

            {% for messages in message %}

                <div class="card-body conversation">


                    <div class="conv">


                        {{messages.idUser}}
                        :
                        <h5>


                            {{ messages.message|title }}

                        </h5>


                    </div>
                </div>

            {% endfor %}
        </div>


        <div class="parallax-element" id="Accueil" data-parallax="scroll" data-image-src="images/mi3.png" alt="" id=""></div>


        <!--Fin de parallax-->


        {% include 'footer.html.twig' %}


    {% else %}
        {% if not app.user %}
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Index</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('connexion') }}">Connexion</a>
                </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('inscription') }}">Créer un compte</a>
            </li>

        </ul>
    </nav>
</body></div>{% endif %}{% endif %}{% block body %}{% endblock %}</body></html>
