{% extends 'base.html.twig' %}

{% block title %}Hello PltComMessengerController!
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/contact.css">


{% endblock %}


{% block body %}

    {% if  app.user %}
        <!--Première Section suivie de la deuxième(celle des amis de l'utilisateur)-->
        <div class="container-fluid">
            <div class="row">
                <div class="list col-md-5 mx-auto">
                    <h1 class="text-center">Les amis de "{{ user.username|title }}":</h1>
                    <br>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control col-sm-9" type="text" placeholder="Search">
                        <button2 class="btn btn-secondary col-2 col-sm-3 mx-auto text-center" type="submit">Search</button2>
                    </form>

                    <br>


                    {% for ami in amis %}

                        {% if ami.username is empty %}


                            <div class="list-group col-md-12 mx-auto">


                                <h4 class="text-center">{{ ami.idUserAmis|title }}</h4>


                                <div class="text-center">


                                    <form method="post" action="{{ path('amis_delete', {'idAmis': ami.idAmis}) }}" onsubmit=" return confirm('tu est sur de vouloir retirer cette amis de la liste ?');">
                                        <input type="hidden" name="_method" value="DELETE"/>

                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ami.idAmis) }}"/>
                                        <a href="{{ path('profil', {'idAmis' : ami.idAmis}) }}" style="color:black !important;">


                                            <i class="fa fa-user" id="i" aria-hidden="true"></i>

                                        </a>


                                        <a href="{{ path('conversation') }}" style="color:black !important;">

                                            <i class="fa fa-comments" id="i" aria-hidden="true"></i>

                                        </a>


                                        <a href="{{ path('amis_edit', {'idAmis': ami.idAmis}) }}" style="color:black !important;">


                                            <i class="fa fa-pencil-square-o" id="i" aria-hidden="true"></i>


                                        </a>


                                        <button>

                                            <i class="fa fa-trash" id="i" aria-hidden="true"></i>

                                        </button>
                                    </form>
                                </div>
                                {# <hr> #}


                            </div>

                            <br>
                        {% else %}
                            <div class="list-group col-md-12 mx-auto text-center">


                                <h4>{{ ami.username|title }}</h4>


                                <div class="text-center">


                                    <form method="post" action="{{ path('amis_delete', {'idAmis': ami.idAmis}) }}" onsubmit=" return confirm('tu est sur de vouloir retirer cette amis de la liste ?');">
                                        <input type="hidden" name="_method" value="DELETE"/>

                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ami.idAmis) }}"/>
                                        <a href="{{ path('profil', {'idAmis' : ami.idAmis}) }}" style="color:black !important;">


                                            <i class="fa fa-user" id="i" aria-hidden="true"></i>

                                        </a>


                                        <a href="{{ path('conversation') }}" style="color:black !important;">

                                            <i class="fa fa-comments" id="i" aria-hidden="true"></i>

                                        </a>


                                        <a href="{{ path('amis_edit', {'idAmis': ami.idAmis}) }}" style="color:black !important;">


                                            <i class="fa fa-pencil-square-o" id="i" aria-hidden="true"></i>


                                        </a>


                                        <button>

                                            <i class="fa fa-trash" id="i" aria-hidden="true"></i>

                                        </button>
                                    </form>
                                </div>
                                {# <hr> #}


                            </div>
                            <br>


                        {% endif %}


                    {% endfor %}
                </div>

                {% include "contact/section2contact.html.twig" %}
            </div>
        </div>
    {% endif %}
    {% include 'footer.html.twig' %}
{% endblock %}
