{% extends "base.html.twig" %}

{% block title %}
    Modifie le surnom de ton amis
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-8 mx-auto text-center">
                <h1>
                    {{ form_start(form) }}
                    {{ form_row(form.username, {'label': 'Username: ', 'attr': {'placeholder':"L'username que vous modifié selon votre votre ami", 'class': 'form-control'} }) }}

                    <br>
                    <button class="btn btn-primary" type="submit">{{ button_label|default('enregistrer') }}</button>


                    <button class="btn btn-primary" type="button">
                        <a href="{{ path('contact') }}">{{ button_label|default('Retour aux Contacts') }}</a>


                    </button>


                    {{ form_end(form) }}
                    {# 
                                                                                                                                                                                                                                                                                        {% include "contact/form_delete_username.html.twig" %} #}

                </h1>


            </div>


        </div>
    </div>

    {% include "footer.html.twig" %}

{% endblock %}
