{% extends "base.html.twig" %}

{% block title %}
    Modifie le surnom de ton amis
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-8 mx-auto">
                <h1>
                    {{ form_start(form) }}
                    {{ form_row(form.username, {'label': 'Username: ', 'attr': {'placeholder':"L'username que vous modifié selon votre votre ami", 'class': 'form-control'} }) }}


                    <div class="form-group">
                        <button class="btn btn-primary">{{ button_label|default('enregistrer') }}</button>
                    </div>

                    {{ form_end(form) }}
                    {# 
                                        {% include "contact/form_delete_username.html.twig" %} #}

                </h1>


                <div class="form-group">
                    <button class="btn btn-primary">
                        <a href="{{ path('contact') }}">Retour aux Contacts</a>
                    </button>
                </div>


            </div>


        </div>
    </div>

{% endblock %}
