{% extends 'base.html.twig' %}

{% block title %}Index des Conversation, Hello
    {{ controller_name }}!
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/conversation_show.css">
{% endblock %}


{% block body %}


    <!--Condition qui cherche si il ya des messages et si il y en à il les affiches si c'est pas le cas la condition invite à ce que l'utilisateur envoye un message pour démarrer la conversation-->


    {# {% if messages is not empty and messages2 is not empty %} #}
        {% if messages is empty and messages2 is not empty %}


            <div class="container-fluid"> <div class="row">


                <div class="col-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h2>L'utilisateur:
                                {{users.username}}
                            </h2>
                        </div>


                        <form action="{{ path('conversation_show', {'id': users.idUser}) }}" method="post">
                            <div class="scrollbar scrollbar-primary">


                                <div class="force-overflow">


                                    <pre></pre>
                                    {% for messages in messages2 %}


                                        <div class="card-body conversation">
                                            <hr>

                                            <div class="conv">


                                                {{messages.idUser}}
                                                :
                                                <h5>


                                                    <pre>{{ messages.message|title }}</pre>

                                                </h5>


                                            </div>
                                        </div>


                                    {% endfor %}
                                </div>
                            </div>
                            <hr>


                            <!--Formulaire d'envoye de messages-->

                            {{ form_start(form) }}

                            <div class="form-group2 col-md-12 mx-auto">
                                {{ form_row(form.message, {'label': 'Message :','attr': {'placeholder': 'Votre message ...', 'class': 'form-control'} }) }}

                            </div>
                            <br>
                            <div class="form-group2 col-md-2 mx-auto">
                                <button class="btn btn-primary" type="submit">Envoyé</button>

                            </div>


                            {{ form_end(form) }}

                            <!--Fin du formulaire-->


                        </form>


                    </div>
                </div>
            </div>
        </div>


        <hr>


        {% include 'footer.html.twig' %}


        {# {{ include ('conversation/conversation_show2.html.twig') }} #}


        {# {{ include ('conversation/conversation_show3.html.twig') }} #}

    {% elseif messages is not empty and messages2 is empty %}
        <!--Condition qui cherche si il ya des messages et si il y en à il les affiches si c'est pas le cas la condition invite à ce que l'utilisateur envoye un message pour démarrer la conversation-->
        <div class="container-fluid">
            <div class="row">


                <div class="col-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h2>L'utilisateur:
                                {{users.username}}
                            </h2>
                        </div>


                        <form action="{{ path('conversation_show', {'id': users.idUser}) }}" method="post">
                            <div class="scrollbar scrollbar-primary">


                                <div class="force-overflow">


                                    {% for message in messages %}


                                        <div class="card-body conversation">
                                            <hr>

                                            <div class="conv">


                                                {{message.idUser}}
                                                :
                                                <h5>


                                                    {{ message.message|title }}

                                                </h5>


                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>


                            <hr>


                            <!--Formulaire d'envoye de messages-->

                            {{ form_start(form) }}

                            <div class="form-group2 col-md-12 mx-auto">
                                {{ form_row(form.message, {'label': 'Message :','attr': {'placeholder': 'Votre message ...', 'class': 'form-control'} }) }}

                            </div>
                            <br>
                            <div class="form-group2 col-md-2 mx-auto">
                                <button class="btn btn-primary" type="submit">Envoyé</button>

                            </div>


                            {{ form_end(form) }}

                            <!--Fin du formulaire-->


                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>
        {%  include 'footer.html.twig' %}


    {% elseif messages is not empty and messages2 is not empty %}


        <!--Condition qui cherche si il ya des messages et si il y en à il les affiches si c'est pas le cas la condition invite à ce que l'utilisateur envoye un message pour démarrer la conversation-->


        <div class="container-fluid">
            <div class="row">


                <div class="col-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h2>L'utilisateur:
                                {{users.username}}
                            </h2>
                        </div>


                        <form action="{{ path('conversation_show', {'id': users.idUser}) }}" method="post">
                            <div class="scrollbar scrollbar-primary">


                                <div class="force-overflow">


                                    {% for message in messages %}


                                        <div class="card-body conversation">
                                            <hr>

                                            <div class="conv">


                                                {{message.idUser}}
                                                :
                                                <h5>


                                                    {{ message.message|title }}

                                                </h5>


                                            </div>
                                        </div>

                                    {% endfor %}


                                    {% for messages in messages2 %}


                                        <div class="card-body conversation">
                                            <hr>

                                            <div class="conv">


                                                {{messages.idUser}}
                                                :
                                                <h5>


                                                    {{ messages.message|title }}

                                                </h5>


                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>

                            <hr>


                            <!--Formulaire d'envoye de messages-->

                            {{ form_start(form) }}

                            <div class="form-group2 col-md-12 mx-auto">
                                {{ form_row(form.message, {'label': 'Message :','attr': {'placeholder': 'Votre message ...', 'class': 'form-control'} }) }}

                            </div>
                            <br>
                            <div class="form-group2 col-md-2 mx-auto">
                                <button class="btn btn-primary" type="submit">Envoyé</button>

                            </div>


                            {{ form_end(form) }}

                            <!--Fin du formulaire-->


                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>
        {% include('footer.html.twig') %}


    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="list-group col-md-2">
                    {{ include ('conversation/users.html.twig') }}
                </div>
                <div class="col-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h2>L'utilisateur:

                                {{users.username}}


                            </h2>
                        </div>

                        <div class="card-body conversation">
                            <form action="{{ path('conversation_show', {'id': users.idUser}) }}" method="post">
                                <div class="form-group">

                                    <div class="card-body conversation">
                                        <div class="conv">
                                            <h5>
                                                Envoyer le premier message de la conversation.
                                            </h5>

                                        </div>
                                    </div>

                                </div>
                                <hr>
                                {{ form_start(form) }}
                                <div class="form-group2 col-md-12 mx-auto">
                                    {{ form_row(form.message, {'label': 'Message :','attr': {'placeholder': 'Votre message ...', 'class': 'form-control'} }) }}

                                </div>
                                <br>
                                <div class="form-group2 col-md-2 mx-auto">
                                    <button class="btn btn-primary" type="submit">Envoyé</button>

                                </div>


                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br>
        {% include 'footer.html.twig' %}


    {% endif %}
{% endblock %}
