<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>
            {% block title %}Accueil
            {% endblock %}
        </title>
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/base.css"> {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto" styles="text-align: center !important;">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">


                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                        <li class="nav-item active">

                            <a class="nav-link" href="{{ path('accueil') }}">Accueil

                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('conversation') }}">Conversation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('groupe') }}">Groupe</a>
                        </li>

                        <!--Fonction avec le temps le cooté musique-->
                    {# <li class="nav-item">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <a class="nav-link" href="{{ path('musique') }}">Conversation</a>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </li> #}
                        <!--Fin de l'ajout-->
                    </ul>
                    <ul class="navbar-nav mr-auto">

                        <a class="navbar-brand" href="{{ path('accueil') }}">
                            <i class="fa fa-comments-o fa-2x"></i>

                            Messenger&CO</a>
                    </ul>
                    <ul class="navbar-nav ml-auto">


                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('deconnexion') }}">
                                <i class="fa fa-power-off fa-2x"></i>

                            </a>

                        </li>
                    </ul>
                </nav>


                <!--Slider après nav en étant connecté-->
            {% else %}
                {% if not app.user %}


                    <a class="navbar-brand" href="{{ path('index') }}">
                        <i class="fa fa-comments-o fa-2x"></i>


                        Messenger&CO</a>

                </ul>
                <ul class="navbar-nav ml">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}">index</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('connexion') }}">Connexion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('inscription') }}">Créer un compte</a>
                    </li>

                </ul>
            </div>
        </nav>

        <!--Parallax 1-->
        <div class="parallax-element" id="Acceuil" data-parallax="scroll" data-image-src="images/mi1.png" alt="" id="">

            <div class="container-fluid">
                <div class="row">

                    <div class="card-body">
                        <div class="description">
                            <i class="fa fa-comments-o fa-5x"></i>
                            <h1>Messenger&Co :</h1>
                            <br>

                            <h3>
                                Est une application Web et mobile pour la discution privé et groupe.
                            </h3>

                        </div>


                    </div>

                </div>
            </div>


        </div>


        <!--Parallax 2 -->
        <div class="parallax-element" id="Accueil" data-parallax="scroll" data-image-src="images/mi2.png" alt="" id="">

            <div class="container-fluid-width=100%">
                <div
                    class="row">
                    {# <div class="button col-12"> #}
                    <div class="col-sm-6">


                        <div class="card-body">
                            <div class="log">
                                <h2>
                                    Si vous avez déjà un compte connecter vous !
                                </h2>
                                <i class="fa fa-arrow-circle-down fa-5x"></i>

                            </div>


                        </div>

                        <a href="{{ path('connexion') }}">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Se connecter</button>
                        </a>
                    </div>


                    <div class="col-sm-6">

                        <div class="card-body">
                            <div class="log">
                                <h2>
                                    Si vous n'avez pas de compte inscrivez-vous !
                                </h2>
                                <i class="fa fa-arrow-circle-down fa-5x"></i>


                            </div>
                        </div>

                        <a href="{{ path('inscription') }}">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Inscription</button>
                        </a>
                    </div>
                </div>
            </div>


        </div>

        <!--Parallax 3 -->

        <div class="parallax-element" id="Accueil" data-parallax="scroll" data-image-src="images/mi3.png" alt="" id="">


            <div class="container-fluid">
                <div class="row">

                    <div class="card-body">
                        <div class="log"></div>


                    </div>

                    <div class="card-body">
                        <div class="log"></div>


                    </div>

                    <div class="card-body">
                        <div class="log"></div>


                    </div>


                </div>
            </div>


        </div>

        <!--Fin des Parallax-->


        <!-- Footer -->
        <footer
            class="page-footer font-small unique-color-dark">

            <!-- Footer Links -->
            <div
                class="container text-center text-md-left mt-5">

                <!-- Grid row -->
                <div
                    class="row mt-3">

                    <!-- Grid column -->
                    <div
                        class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <!-- Content -->
                        <h6 class="text-uppercase font-weight-bold">
                            <i class="fa fa-comments-o fa-1x"></i>
                            Messenger&CO
                        </h6>

                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>Est une application Web et mobile pour la discution privé et groupe.</p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div
                        class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold">Products</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <a href="#!">MDBootstrap</a>
                        </p>
                        <p>
                            <a href="#!">MDWordPress</a>
                        </p>
                        <p>
                            <a href="#!">BrandFlow</a>
                        </p>
                        <p>
                            <a href="#!">Bootstrap Angular</a>
                        </p>
                    </p>
                </div><!-- Grid column --><!-- Grid column --><div
                    class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Your Account</a>
                    </p>
                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div
                    class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i>
                        Charleville-Mézière, 08000, France</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i>
                        v.cordier08200@gmail.com</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i>
                        + 06-10-45-61-01</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->


        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div style="background-color: #05427D;">
            <div class="footer-mentions-legale text-center py-3">

                <a href="{{ path('index') }}" style="color: white;">Mentions légale</a>
            </div>

            <div class="footer-copyright text-center py-3" style="color: white;">


                © 2019 Copyright:
                <a href="{{ path('index') }}" style="color: white;hover: color: darkgrey;">


                    Messenger&CO</a>
            </div>
        </div>
        <!-- Copyright -->
    </body>
</html></body></html></footer><!-- Footer -->{% endif %}{% endif %}{% block body %}{% endblock %}
