{% block stylesheets %}
    <link rel="stylesheet" href="/styles/gestion-a.css">
{% endblock %}

{% block body %}
    <nav
        class="main-menu">
        <!-- Pour utilisateur avec le rôle supérieur à USER -->
        <ul>
            <li>
                <a href="{{ path('accueil') }}">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Retour à l'accueil du site
                    </span>
                </a>

            </li>

            <!-- Pour utilisateur avec le rôle de ADMIN ou ADMINGROUPE-->
            <li class="has-subnav">
                <a href="{{ path('panel_admin') }}">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Panel Admin
                    </span>
                </a>

            </li>

            <!-- Pour utilisateur avec le rôle de SUPERADMIN-->
            <li class="has-subnav">
                <a href="{{ path('entity_user') }}">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Table User
                    </span>
                </a>

            </li>

            <li class="has-subnav">
                <a href="{{ path('entity_message_pri') }}">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Table MessagePri
                    </span>
                </a>

            </li>


        </ul>

        <!-- Déconnexion -->
        <ul class="logout">
            <li>
                <a href="{{ path('deconnexion') }}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
