{% extends 'plt_com_messenger/indexnav.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h1>Création d'un compte</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_row(form.username, {'label': 'Nom d\'utilisateur:', 'attr': {'placeholder': 'Nom d\'utilisateur ...', 'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_row(form.email, {'label': 'Adresse email:', 'attr': {'placeholder': 'Adresse email ...', 'class': 'form-control'} }) }}
    </div>
    
    <div class="form-group">
        {{ form_row(form.password, {'label': 'Mot de passe:', 'attr': {'placeholder': 'Mot de passe !', 'class': 'form-control'} }) }}
    </div>
    
    <div class="form-group">
        {{ form_row(form.confirm_password, {'label': 'Confirmation de mot de passe:', 'attr': {'placeholder': 'Confirmation de mot de passe !', 'class': 'form-control'} }) }}
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Insciption !</button>
    </div>
   
    
    {{ form_end(form) }}
{% endblock %}